<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1><%= data[0].category%></h1>
    <a href="/add/subject"> add </a>
    <table border="1">
        <thead>
            <th>Parts</th>
            <th>videoLink</th>
            <th>action</th>            
        </thead>
        <tbody>
            <% data[0].Parts.forEach((element) =>{ %>
                <tr>
                    <td><%= element.id%></td>
                    <td><%= element.videoLink%></td>              
                    <td><a href="/movies/<%=element.id%>/edit"> edit</a>
                        
                        <a href="/subject/<%=element.id%>/delete"> delete</a></td>
                </tr>
                <% }) %>

        </tbody>
    </table>
</body>
</html>